# Binaries and objects
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go specific
/vendor/
/bin/
/tmp/

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
*.env

# Logs
*.log

# Database
*.db
